<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.itskill.mapper.TipoClienteMapper">

 <select id="listarAll" resultType="TipoClienteBean">
	    SELECT id_tipo_cliente as idTipoCliente, des_tipo_cliente as desTipoCliente
        FROM tbl08_tipo_cliente where estado='1' order by 2;
 	</select>
 	     
</mapper>